.sign-up-container{
    display:flex;
flex-direction:column;
padding: 40px;
box-sizing: border-box;
width: 1000px;
background-color: #fe720a;
box-shadow: 0 0 50px ;

h2{
    margin-top: 10px 0;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
}