.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .link{
    font-size: 14px;
transition: hover 0.8s;
  }

  .link:hover{
    color:#fe720a
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
